.Order {
  width: 80%;
  border: 1px solid #ccc;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
}

.Order .SpanOrder {
  text-transform: capitalize;
  display: inline-block;
  margin: 0 8px;
  border: 1px solid #aaa;
  padding: 5px;
  border-radius: 4px;
}
